

html{
  font-size: 100%;
  
  
}

#loginform{
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #212529;
  border-radius: 25px;
  border: black solid 2px; 
}

#headerTitle{
  text-align: center;
  font-family: 'Space Mono', monospace;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  font-family: 'Space Mono', monospace;
  
}

.row input{
  width: 80% !important;
  padding: 0 !important;
  text-align: left;
  align-items: center !important;
  height: 7% !important;
  box-sizing: border-box;
	border: none;
  border-radius: 3px;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
  font-family: 'Space Mono', monospace;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 3.5rem;
  
  color: rgba(187,187,187,0.9);
}

.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: linear-gradient( white 0%,#f7931a 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  margin-bottom: 20px;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}



#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
}

.fix {
    margin-bottom: 30px;
}


p {
  font-family: 'Space Mono', monospace;
}

.admin p {
  margin-left: 10px;
  color: white;
}

form input {
  margin-bottom: 10px;
  border-radius: 20px;
}

#fix {
  width: 80% !important;
}