.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color:#212529;
    color: white;
    align-items: center;
    margin-top: 22vh;

    
}

.footer p {
    padding: 0 !important;
}