#bigTable {
    margin: 100px 50px;
    width: 80%;
    
    
}

#center {
    display: flex;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}


body, html {
    width: 100%;
    height: 100%;
}


.symbol {
    height: 1.5rem;
    width: 1.5rem;
}


tr th:hover {
    background-color: beige;
    color: black;
}

input {
    width: 80% !important;
    background-color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.orangeBitcoin {
    color: #f7931a;
}

.spinner {
    height: 200px !important;
    width: 200px !important;
    justify-content: center;
}

.spinnerDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}